<!DOCTYPE html>
<html>
  <head>
    <title>Payroll</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.component.css">

    <!-- Polyfill(s) for older browsers -->
    <script src="shim.min.js"></script>
    <script src="zone.js"></script>
    <script src="Reflect.js"></script>
  </head>

  <body>
    <hm-payroll-component>Loading ...</hm-payroll-component>
    <script src="bundle.js"></script>
  </body>
</html>
